In [65]:
import os
import csv
import pathlib

In [66]:
import pandas as pd
import numpy as np

In [67]:
# Set up data needed to be analyzed
Original_Data = os.path.join("Data", '2021_Data_Science_Intern_Challenge_Data.csv')

In [68]:
# Import and check data to use
dataToUse = pd.read_csv(Original_Data, encoding="utf-8")
dataToUse.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [69]:
#Identify key elements needed to use to test the correct AOV
orderAmountSum = dataToUse['order_amount'].sum()
totalItemsSum = dataToUse['total_items'].sum()
totalOrder = dataToUse['order_id'].count()
print(orderAmountSum)
print(totalItemsSum)
print(totalItemsCount)

15725640
43936
5000

In [70]:
#Calculate AOVs from 
AOV_test1 = orderAmountSum/totalItemsCount
AOV_test2 = orderAmountSum/totalItemsSum
print(AOV_test1)
print(AOV_test2)

3145.128
357.92152221412965